# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Project Specific
server/uploaded_pdfs/
server/chroma_store/
# Project Specific (Root folders)
uploaded_pdfs/
chroma_store/

# Environment Variables
.env