# --- Web Framework & Server ---
fastapi[standard]
python-multipart
aiofiles

# --- LangChain Ecosystem ---
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
huggingface-hub
langchain-text-splitters

# --- Vector Database & AI Models ---
chromadb
#sentence-transformers  - removed for deployment edit
pypdf

# --- Configuration & Logging ---
python-dotenv
pydantic
pydantic-settings
loguru